In [152]:
import pandas as pd
import numpy as np
import re

In [178]:
df_ps = pd.read_csv('./data/googleplaystore.csv')
df_ps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [179]:
df_ps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 592.9+ KB

In [180]:
df_ps_review = pd.read_csv('./data/googleplaystore_user_reviews.csv')
#df_ps_review.head()

In [181]:
#df_ps_review.info()

## A. All groups and individual must do the following

#### 1. Convert the app sizes to a number

In [182]:
# create new column Size (Megabite) from Size
df_ps['Size (Megabite)'] = df_ps['Size']

# understand Size column composition
k_bool = df_ps['Size'].str.extract(r"(\d*\S?\d*)[k]").notnull()[0]
k_values = df_ps['Size'].loc[k_bool != False]
#print(k_values)

m_bool = df_ps['Size'].str.extract(r"(\d*\S?\d*)[M]").notnull()[0]
m_values = df_ps['Size'].loc[m_bool != False]
#print(m_values)

In [183]:
# keeping indexis of k values 
k_index = df_ps['Size'].str.extractall(r"(\d*\S?\d*)[k]").index.get_level_values(0)

#### 3. Transform “Varies with device” into a missing value

In [184]:
# setting 'Varies with device' to nan
df_ps['Size'].loc[df_ps['Size'] == 'Varies with device'] = np.nan

#### Resuming ex. 1

In [185]:
# some data preparation task
df_ps['Size'].loc[df_ps['Size'] == '1,000+'] = np.nan
df_ps['Size'].replace('k', '', regex = True, inplace=True)
df_ps['Size'].replace('M', '', regex = True, inplace=True)

In [186]:
df_ps[df_ps == "Varies with device"].count() #checkig if there is others "Varies with device" inside

App                   0
Category              0
Rating                0
Reviews               0
Size                  0
Installs              0
Type                  0
Price                 0
Content Rating        0
Genres                0
Last Updated          0
Current Ver        1459
Android Ver        1362
Size (Megabite)    1695
dtype: int64

In [187]:
df_ps["Size"].str.extractall(r"([A-Za-z])", flags = re.IGNORECASE ).count() #checking if there are other letters

0    0
dtype: int64

In [188]:
# casting Size colum to float type
df_ps['Size'] = df_ps['Size'].astype('float') 
# casting kilobyte to megabyte
df_ps['Size'].loc[k_index] = (df_ps["Size"].loc[k_index]/1000)

#### 2. Convert the number of installs to a number

In [189]:
df_ps["Installs"].str.extractall(r"([A-z])", flags = re.IGNORECASE ).count() #checking if there are other letters in Installs

0    4
dtype: int64

In [190]:
df_ps['Installs'].str.extractall(r"([A-Za-z])")

             0
      match
10472 0      F
      1      r
      2      e
      3      e

In [191]:
df_ps["Installs"].str.extractall(r"([^0-9\,])")

             0
      match
0     0      +
1     0      +
2     0      +
3     0      +
4     0      +
5     0      +
6     0      +
7     0      +
8     0      +
9     0      +
10    0      +
11    0      +
12    0      +
13    0      +
14    0      +
15    0      +
16    0      +
17    0      +
18    0      +
19    0      +
20    0      +
21    0      +
22    0      +
23    0      +
24    0      +
25    0      +
26    0      +
27    0      +
28    0      +
29    0      +
...         ..
10811 0      +
10812 0      +
10813 0      +
10814 0      +
10815 0      +
10816 0      +
10817 0      +
10818 0      +
10819 0      +
10820 0      +
10821 0      +
10822 0      +
10823 0      +
10824 0      +
10825 0      +
10826 0      +
10827 0      +
10828 0      +
10829 0      +
10830 0      +
10831 0      +
10832 0      +
10833 0      +
10834 0      +
10835 0      +
10836 0      +
10837 0      +
10838 0      +
10839 0      +
10840 0      +

[10843 rows x 1 columns]

In [192]:
df_ps["Installs"].replace("\+|,", value = "", regex = True, inplace = True) # removing '+' sign

In [193]:
# some data preparation task
df_ps['Installs'].loc[df_ps['Installs'] == 'Free'] = np.nan
# cast Installs column from string to float
df_ps['Installs'] = df_ps['Installs'].astype('float')

#### 4. Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [194]:
# deleting any letter from Android Ver and Current Ver in order to leave only the numerical part
df_ps["Android Ver"].replace("[a-z]+|[A-Z]+", value = "", regex = True, inplace = True)
df_ps["Current Ver"].replace("[a-z]+|[A-Z]+", value = "", regex = True, inplace = True)
# deleting also the last '.' if any
df_ps["Current Ver"].replace(r"(\.+$)", value = "", regex = True, inplace = True)

In [195]:
df_ps['Current Ver'].head(30)
df_ps['Android Ver'].head(30)

0     4.0.3
1     4.0.3
2     4.0.3
3       4.2
4       4.4
5       2.3
6     4.0.3
7       4.2
8       3.0
9     4.0.3
10      4.1
11      4.0
12      4.1
13      4.4
14      2.3
15      4.2
16      4.1
17      2.3
18    4.0.3
19      4.1
20      4.1
21    4.0.3
22    4.0.3
23      4.1
24      4.1
25      3.0
26    4.0.3
27    4.0.3
28      2.3
29      2.3
Name: Android Ver, dtype: object

#### 5. Remove the duplicates

In [196]:
# count row before drop duplicates
df_ps.shape

(10841, 14)

In [197]:
# dropping duplicates rows
df_ps.drop_duplicates(inplace=True)

In [198]:
# check if we dropped something
df_ps.shape

(10358, 14)

#### 6. For each category, compute the number of apps

In [199]:
df_ps.groupby(df_ps['Category'], as_index = False)['App'].count()

               Category   App
0                   1.9     1
1        ART_AND_DESIGN    65
2     AUTO_AND_VEHICLES    85
3                BEAUTY    53
4   BOOKS_AND_REFERENCE   230
5              BUSINESS   427
6                COMICS    60
7         COMMUNICATION   366
8                DATING   196
9             EDUCATION   130
10        ENTERTAINMENT   111
11               EVENTS    64
12               FAMILY  1943
13              FINANCE   360
14       FOOD_AND_DRINK   124
15                 GAME  1121
16   HEALTH_AND_FITNESS   306
17       HOUSE_AND_HOME    80
18   LIBRARIES_AND_DEMO    85
19            LIFESTYLE   373
20  MAPS_AND_NAVIGATION   137
21              MEDICAL   408
22   NEWS_AND_MAGAZINES   264
23            PARENTING    60
24      PERSONALIZATION   388
25          PHOTOGRAPHY   322
26         PRODUCTIVITY   407
27             SHOPPING   224
28               SOCIAL   280
29               SPORTS   351
30                TOOLS   843
31     TRAVEL_AND_LOCAL   237
32        VIDEO_PLAYERS   175
33              WEATHER    82

#### 7. For each category, compute the average rating

In [200]:
df_ps.groupby(df_ps['Category'], as_index = False)['Rating'].mean()

               Category     Rating
0                   1.9  19.000000
1        ART_AND_DESIGN   4.358065
2     AUTO_AND_VEHICLES   4.190411
3                BEAUTY   4.278571
4   BOOKS_AND_REFERENCE   4.347458
5              BUSINESS   4.102593
6                COMICS   4.155172
7         COMMUNICATION   4.151466
8                DATING   3.971698
9             EDUCATION   4.375969
10        ENTERTAINMENT   4.136036
11               EVENTS   4.435556
12               FAMILY   4.191153
13              FINANCE   4.127445
14       FOOD_AND_DRINK   4.164151
15                 GAME   4.281285
16   HEALTH_AND_FITNESS   4.261450
17       HOUSE_AND_HOME   4.164706
18   LIBRARIES_AND_DEMO   4.178462
19            LIFESTYLE   4.096066
20  MAPS_AND_NAVIGATION   4.051613
21              MEDICAL   4.182450
22   NEWS_AND_MAGAZINES   4.128505
23            PARENTING   4.300000
24      PERSONALIZATION   4.333871
25          PHOTOGRAPHY   4.182895
26         PRODUCTIVITY   4.201796
27             SHOPPING   4.251485
28               SOCIAL   4.254918
29               SPORTS   4.225175
30                TOOLS   4.047411
31     TRAVEL_AND_LOCAL   4.094146
32        VIDEO_PLAYERS   4.063750
33              WEATHER   4.244000

#### 8. Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

In [206]:
# I create a new dataframe with only the columns of interest
df_genres = df_ps[["Genres"]]
#checking the value count
df_genres['Genres'].value_counts()

Tools                                  842
Entertainment                          588
Education                              527
Business                               427
Medical                                408
Productivity                           407
Personalization                        388
Lifestyle                              372
Communication                          366
Sports                                 364
Finance                                360
Action                                 356
Photography                            322
Health & Fitness                       306
Social                                 280
News & Magazines                       264
Travel & Local                         236
Books & Reference                      230
Shopping                               224
Arcade                                 218
Simulation                             199
Dating                                 196
Casual                                 191
Video Players & Editors                173
Maps & Navigation                      137
Puzzle                                 136
Food & Drink                           124
Role Playing                           109
Strategy                               105
Racing                                  98
                                      ...
Art & Design;Action & Adventure          2
Art & Design;Pretend Play                2
Entertainment;Pretend Play               2
Strategy;Action & Adventure              2
Adventure;Education                      2
Health & Fitness;Education               1
Strategy;Creativity                      1
Card;Brain Games                         1
Lifestyle;Pretend Play                   1
Entertainment;Education                  1
February 11, 2018                        1
Travel & Local;Action & Adventure        1
Racing;Pretend Play                      1
Role Playing;Education                   1
Music & Audio;Music & Video              1
Books & Reference;Creativity             1
Parenting;Brain Games                    1
Puzzle;Education                         1
Communication;Creativity                 1
Casual;Music & Video                     1
Trivia;Education                         1
Adventure;Brain Games                    1
Health & Fitness;Action & Adventure      1
Comics;Creativity                        1
Tools;Education                          1
Lifestyle;Education                      1
Arcade;Pretend Play                      1
Board;Pretend Play                       1
Strategy;Education                       1
Role Playing;Brain Games                 1
Name: Genres, Length: 120, dtype: int64

In [207]:
#splits the genres after the ";" to have a series divided into multindexes: 0 and 1
gens = df_genres['Genres'].str.split(";", expand = True)
df_genres['Genres_1'] = gens[0]
df_genres['Genres_2'] = gens[1]
df_genres.drop(['Genres'], axis=1, inplace = True)
df_genres

c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\danie\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                      Genres_1            Genres_2
0                 Art & Design                None
1                 Art & Design        Pretend Play
2                 Art & Design                None
3                 Art & Design                None
4                 Art & Design          Creativity
5                 Art & Design                None
6                 Art & Design                None
7                 Art & Design                None
8                 Art & Design                None
9                 Art & Design          Creativity
10                Art & Design                None
11                Art & Design                None
12                Art & Design                None
13                Art & Design                None
14                Art & Design                None
15                Art & Design                None
16                Art & Design                None
17                Art & Design                None
18                Art & Design                None
19                Art & Design                None
20                Art & Design                None
21                Art & Design                None
22                Art & Design                None
23                Art & Design  Action & Adventure
24                Art & Design                None
25                Art & Design                None
26                Art & Design          Creativity
27                Art & Design                None
28                Art & Design                None
29                Art & Design                None
...                        ...                 ...
10811          Auto & Vehicles                None
10812                Education                None
10813                 Business                None
10814            Entertainment                None
10815        Books & Reference                None
10816                 Business                None
10817                    Tools                None
10818                  Finance                None
10819        Books & Reference                None
10820                Education                None
10821            Entertainment                None
10822             Productivity                None
10823  Video Players & Editors                None
10824                  Medical                None
10825                   Social                None
10826                   Social                None
10827                Education                None
10828                   Comics                None
10829        Books & Reference                None
10830         News & Magazines                None
10831        Maps & Navigation                None
10832                  Weather                None
10833        Books & Reference                None
10834                Education                None
10835                 Business                None
10836                Education                None
10837                Education                None
10838                  Medical                None
10839        Books & Reference                None
10840                Lifestyle                None

[10358 rows x 2 columns]

In [212]:
# create the App dataframe
df_app = df_ps[['App']]
df_app.head()

                                                 App
0     Photo Editor & Candy Camera & Grid & ScrapBook
1                                Coloring book moana
2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3                              Sketch - Draw & Paint
4              Pixel Draw - Number Art Coloring Book

In [209]:
df_genres.head()

       Genres_1      Genres_2
0  Art & Design          None
1  Art & Design  Pretend Play
2  Art & Design          None
3  Art & Design          None
4  Art & Design    Creativity

In [234]:
df_app_gen = pd.merge(df_app, df_genres, left_index = True, right_index = True)\
               .melt(id_vars = ['App'], value_name = "Genres").drop(columns = "variable") # gettin one column for genres

# drop N/A values
df_app_gen = df_app_gen.dropna() #delete the remaining NAN
df_app_gen.head()

                                                 App        Genres
0     Photo Editor & Candy Camera & Grid & ScrapBook  Art & Design
1                                Coloring book moana  Art & Design
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  Art & Design
3                              Sketch - Draw & Paint  Art & Design
4              Pixel Draw - Number Art Coloring Book  Art & Design

In [233]:
# check if everything work fine
df_app_gen.loc[df_app_gen['App'] == "Pixel Draw - Number Art Coloring Book"]

                                         App        Genres
4      Pixel Draw - Number Art Coloring Book  Art & Design
10362  Pixel Draw - Number Art Coloring Book    Creativity

#### 9. For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [262]:
# concate of orignal df and the genres1 genres2 binaryzed columns
df_ps_2 = pd.concat([df_ps, pd.get_dummies(df_genres["Genres_1"], dtype = "bool")], axis=1).drop(['Genres'], axis=1)
df_ps_2 = pd.concat([df_ps_2, pd.get_dummies(df_genres["Genres_2"], dtype = "bool")], axis=1)

df_ps_2.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Last Updated', 'Current Ver', 'Android Ver',
       'Size (Megabite)', 'Action', 'Adventure', 'Arcade', 'Art & Design',
       'Auto & Vehicles', 'Beauty', 'Board', 'Books & Reference', 'Business',
       'Card', 'Casino', 'Casual', 'Comics', 'Communication', 'Dating',
       'Education', 'Educational', 'Entertainment', 'Events',
       'February 11, 2018', 'Finance', 'Food & Drink', 'Health & Fitness',
       'House & Home', 'Libraries & Demo', 'Lifestyle', 'Maps & Navigation',
       'Medical', 'Music', 'Music & Audio', 'News & Magazines', 'Parenting',
       'Personalization', 'Photography', 'Productivity', 'Puzzle', 'Racing',
       'Role Playing', 'Shopping', 'Simulation', 'Social', 'Sports',
       'Strategy', 'Tools', 'Travel & Local', 'Trivia',
       'Video Players & Editors', 'Weather', 'Word', 'Action & Adventure',
       'Brain Games', 'Creativity', 'Education', 'Music & Video',
       'Pretend Play'],
      dtype='object')

In [264]:
# checking if everthing works fine
df_ps_2[["App", "Art & Design", "Creativity"]].loc[df_ps_2['App'] == "Pixel Draw - Number Art Coloring Book"]

                                     App  Art & Design  Creativity
4  Pixel Draw - Number Art Coloring Book          True        True

#### 10. For each genre, compute the average rating. What is the genre with highest average?

In [271]:
#joining
df_ps_3 = df_app_gen.merge(df_ps, on = "App")
df_ps_3.drop(['Genres_y'], axis=1, inplace = True) # dropping unuseful columns
df_ps_3.head()

,App,Genres_x,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver,Size (Megabite)
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,ART_AND_DESIGN,4.1,159,19.0,10000.0,Free,0,Everyone,"January 7, 2018",1.0.0,4.0.3,19M
1,Coloring book moana,Art & Design,ART_AND_DESIGN,3.9,967,14.0,500000.0,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M
2,Coloring book moana,Art & Design,FAMILY,3.9,974,14.0,500000.0,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M
3,Coloring book moana,Art & Design,ART_AND_DESIGN,3.9,967,14.0,500000.0,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M
4,Coloring book moana,Art & Design,FAMILY,3.9,974,14.0,500000.0,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3,14M

In [274]:
df_ps_3.groupby('Genres_x', as_index=False, sort=False)[['Rating']].mean().head(10)

             Genres_x    Rating
0        Art & Design  4.347887
1        Pretend Play  4.274757
2          Creativity  4.295652
3  Action & Adventure  4.385830
4     Auto & Vehicles  4.190411
5              Beauty  4.278571
6   Books & Reference  4.350256
7            Business  4.110175
8       Communication  4.197052
9              Comics  4.112121

#### 11. For each app, compute the approximate income, obtain as a product of number of installs and price.

#### 12. For each app, compute its minimum and maximum Sentiment_polarity

## B. The following part of the exercise must be done only by groups with two or three people

#### 1. For each app, compute the average number of words in its reviews

#### 2. For each app, compute its longest review

#### 3. For each app, compute the ratio between the number of installs and the number of reviews

#### 4. Cluster the apps according to the major android version (the first two digits — e.g. for 4.0.3 the major version is 4.0)

#### 5. For each cluster, compute the average date and the last date of an update.

#### 6. Excluding the free apps, what is the content rating with highest average price?

## C. The following part of the exercise must be done only by groups with three people

#### 1. What is the genre with the highest total income?

#### 2. What is the genre with the highest fraction of free apps (over the number of all apps)?

#### 3. For each rating, compute the average income

#### 4. For each (Content Rating, Genre) pair, compute the number of reviews and the average rating.